<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="faction" value="The Knights Who Say Ni"/>
  <add key="web" value="http://example.com"/>
  <add key="awsAccessKeyId" value="My access key id" />
  <add key="awsSecretAccessKey" value="My secret access key" />
</appSettings>